/*
 * YOMO-Service-Emulation with AHOI
 * [Data Privacy](/sandboxmanager/#/privacy)  [Terms of Service](/sandboxmanager/#/terms)  [Imprint](https://sparkassen-hub.com/impressum/)  &copy; 2017 Starfinanz - Ein Unternehmen der Finanz Informatik
 *
 * OpenAPI spec version: 2.1.0-yomo-emulator
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.Transfer;
import io.swagger.client.model.TransferChallenge;
import io.swagger.client.model.TransferChallengeResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TransferApi {
    private ApiClient apiClient;

    public TransferApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TransferApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for postAuthorization
     * @param accessId The **accessId** for the triggered authorization (required)
     * @param accountId The **account** for the triggered authorization (required)
     * @param taskId The **taskId** given in the TransferChallenge (required)
     * @param transferChallengeResponse The *TransferChallengeResponse* object to authorize the transfer (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call postAuthorizationCall(Long accessId, Long accountId, Long taskId, TransferChallengeResponse transferChallengeResponse, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = transferChallengeResponse;
        
        // create path and map variables
        String localVarPath = "/accesses/{accessId}/accounts/{accountId}/transfers/{taskId}/authorize"
            .replaceAll("\\{" + "accessId" + "\\}", apiClient.escapeString(accessId.toString()))
            .replaceAll("\\{" + "accountId" + "\\}", apiClient.escapeString(accountId.toString()))
            .replaceAll("\\{" + "taskId" + "\\}", apiClient.escapeString(taskId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call postAuthorizationValidateBeforeCall(Long accessId, Long accountId, Long taskId, TransferChallengeResponse transferChallengeResponse, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'accessId' is set
        if (accessId == null) {
            throw new ApiException("Missing the required parameter 'accessId' when calling postAuthorization(Async)");
        }
        
        // verify the required parameter 'accountId' is set
        if (accountId == null) {
            throw new ApiException("Missing the required parameter 'accountId' when calling postAuthorization(Async)");
        }
        
        // verify the required parameter 'taskId' is set
        if (taskId == null) {
            throw new ApiException("Missing the required parameter 'taskId' when calling postAuthorization(Async)");
        }
        
        // verify the required parameter 'transferChallengeResponse' is set
        if (transferChallengeResponse == null) {
            throw new ApiException("Missing the required parameter 'transferChallengeResponse' when calling postAuthorization(Async)");
        }
        
        
        com.squareup.okhttp.Call call = postAuthorizationCall(accessId, accountId, taskId, transferChallengeResponse, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Create a transfer authorization
     * **Please note:** Exception from the norm. This POST request will not return  the two header fields X-Id and Location. The returned JSON document  represents the transfer.
     * @param accessId The **accessId** for the triggered authorization (required)
     * @param accountId The **account** for the triggered authorization (required)
     * @param taskId The **taskId** given in the TransferChallenge (required)
     * @param transferChallengeResponse The *TransferChallengeResponse* object to authorize the transfer (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void postAuthorization(Long accessId, Long accountId, Long taskId, TransferChallengeResponse transferChallengeResponse) throws ApiException {
        postAuthorizationWithHttpInfo(accessId, accountId, taskId, transferChallengeResponse);
    }

    /**
     * Create a transfer authorization
     * **Please note:** Exception from the norm. This POST request will not return  the two header fields X-Id and Location. The returned JSON document  represents the transfer.
     * @param accessId The **accessId** for the triggered authorization (required)
     * @param accountId The **account** for the triggered authorization (required)
     * @param taskId The **taskId** given in the TransferChallenge (required)
     * @param transferChallengeResponse The *TransferChallengeResponse* object to authorize the transfer (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> postAuthorizationWithHttpInfo(Long accessId, Long accountId, Long taskId, TransferChallengeResponse transferChallengeResponse) throws ApiException {
        com.squareup.okhttp.Call call = postAuthorizationValidateBeforeCall(accessId, accountId, taskId, transferChallengeResponse, null, null);
        return apiClient.execute(call);
    }

    /**
     * Create a transfer authorization (asynchronously)
     * **Please note:** Exception from the norm. This POST request will not return  the two header fields X-Id and Location. The returned JSON document  represents the transfer.
     * @param accessId The **accessId** for the triggered authorization (required)
     * @param accountId The **account** for the triggered authorization (required)
     * @param taskId The **taskId** given in the TransferChallenge (required)
     * @param transferChallengeResponse The *TransferChallengeResponse* object to authorize the transfer (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call postAuthorizationAsync(Long accessId, Long accountId, Long taskId, TransferChallengeResponse transferChallengeResponse, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = postAuthorizationValidateBeforeCall(accessId, accountId, taskId, transferChallengeResponse, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for postTransfer
     * @param accessId The **accessId** for the transfer (required)
     * @param accountId The **accountId** for the transfer (required)
     * @param transfer The *Transfer* object to initiate a transfer (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call postTransferCall(Long accessId, Long accountId, Transfer transfer, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = transfer;
        
        // create path and map variables
        String localVarPath = "/accesses/{accessId}/accounts/{accountId}/transfers"
            .replaceAll("\\{" + "accessId" + "\\}", apiClient.escapeString(accessId.toString()))
            .replaceAll("\\{" + "accountId" + "\\}", apiClient.escapeString(accountId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call postTransferValidateBeforeCall(Long accessId, Long accountId, Transfer transfer, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'accessId' is set
        if (accessId == null) {
            throw new ApiException("Missing the required parameter 'accessId' when calling postTransfer(Async)");
        }
        
        // verify the required parameter 'accountId' is set
        if (accountId == null) {
            throw new ApiException("Missing the required parameter 'accountId' when calling postTransfer(Async)");
        }
        
        // verify the required parameter 'transfer' is set
        if (transfer == null) {
            throw new ApiException("Missing the required parameter 'transfer' when calling postTransfer(Async)");
        }
        
        
        com.squareup.okhttp.Call call = postTransferCall(accessId, accountId, transfer, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Create a new transfer
     * The transfer represents a money  transfer from the account identified by its ID to another bank account.   **Please note:** Exception from the norm. This POST request will not return  the two header fields X-Id and Location. Also, the returned JSON document  does not represent the transfer entity but rather a temporary placeholder.
     * @param accessId The **accessId** for the transfer (required)
     * @param accountId The **accountId** for the transfer (required)
     * @param transfer The *Transfer* object to initiate a transfer (required)
     * @return TransferChallenge
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TransferChallenge postTransfer(Long accessId, Long accountId, Transfer transfer) throws ApiException {
        ApiResponse<TransferChallenge> resp = postTransferWithHttpInfo(accessId, accountId, transfer);
        return resp.getData();
    }

    /**
     * Create a new transfer
     * The transfer represents a money  transfer from the account identified by its ID to another bank account.   **Please note:** Exception from the norm. This POST request will not return  the two header fields X-Id and Location. Also, the returned JSON document  does not represent the transfer entity but rather a temporary placeholder.
     * @param accessId The **accessId** for the transfer (required)
     * @param accountId The **accountId** for the transfer (required)
     * @param transfer The *Transfer* object to initiate a transfer (required)
     * @return ApiResponse&lt;TransferChallenge&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TransferChallenge> postTransferWithHttpInfo(Long accessId, Long accountId, Transfer transfer) throws ApiException {
        com.squareup.okhttp.Call call = postTransferValidateBeforeCall(accessId, accountId, transfer, null, null);
        Type localVarReturnType = new TypeToken<TransferChallenge>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create a new transfer (asynchronously)
     * The transfer represents a money  transfer from the account identified by its ID to another bank account.   **Please note:** Exception from the norm. This POST request will not return  the two header fields X-Id and Location. Also, the returned JSON document  does not represent the transfer entity but rather a temporary placeholder.
     * @param accessId The **accessId** for the transfer (required)
     * @param accountId The **accountId** for the transfer (required)
     * @param transfer The *Transfer* object to initiate a transfer (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call postTransferAsync(Long accessId, Long accountId, Transfer transfer, final ApiCallback<TransferChallenge> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = postTransferValidateBeforeCall(accessId, accountId, transfer, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TransferChallenge>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
